<script lang="ts">
	import './style.scss';

	import { page } from '$app/stores';
	$: title = $page.data.title;

	export let logoutForm: HTMLFormElement;
</script>

<svelte:head>
	<title>{title}</title>
	<meta property="og:title" content={title} />
	<meta property="og:site_name" content="ss.maowtm.org" />
</svelte:head>

<div class="container">
	<nav>
		<span class="sitename">
			<a href="https://maowtm.org" target="_blank">mw</a> /
			{#if $page.data.sessionValidated}
				<span class="sitename-link">VPN set up guide</span>
			{:else}
				<a href="/" class="sitename-link">ss-portal</a>
			{/if}
		</span>
		{#if $page.data.sessionValidated}
			<span class="user">
				<form action="/?/logout" method="post" bind:this={logoutForm}>
					<button class="link" on:click={(evt) => logoutForm.submit()}>Log out</button>
				</form>
			</span>
		{/if}
	</nav>
</div>

<slot />

<style>
	.container {
		position: sticky;
		top: 0;
		height: auto;
	}

	nav {
		background-color: var(--color-primary);
		color: white;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		height: 40px;
	}

	.sitename {
		margin-left: 18px;
	}

	.user {
		background-color: var(--color-background);
		color: var(--color-text);
		align-self: stretch;
		margin-left: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0 20px;
		margin-right: 8px;
	}

	.sitename .sitename-link {
		font-size: 18px;
		font-weight: bold;
	}

	.sitename a {
		color: inherit;
	}

	.user > a {
		margin-right: 20px;
	}

	.user > a:last-child {
		margin-right: 0;
	}

	.gh {
		align-self: center;
		margin-top: 6px;
	}

	@media (max-width: 600px) {
		nav {
			flex-direction: column;
			height: auto;
		}

		nav > * {
			line-height: 1.7;
		}
	}
</style>
