<script lang="ts">
	import { enhance } from '$app/forms';
	import type { ActionData } from './$types';

	export let form: ActionData;
</script>

<div class="content">
	<h1>
		<img src="/key.svg" alt="Key icon" />
		<div>
			<div>Password required</div>
			<div style="font-size: 18px;">需要密码</div>
		</div>
	</h1>
	<form action="?/login" method="post" use:enhance>
		<div class="password-row">
			<input type="password" name="password" placeholder="Password" />
			<button class="primary">
				<svg fill="currentColor" width="20" height="20" viewBox="0 0 28 28">
					<path
						d="M15.7 4.29a1 1 0 1 0-1.4 1.42L21.68 13H4a1 1 0 1 0 0 2h17.67l-7.37 7.29a1 1 0 0 0 1.4 1.42l8.93-8.82c.5-.5.5-1.3 0-1.78L15.7 4.29Z"
					/>
				</svg>
			</button>
		</div>

		<p class="error">
			{#if form?.error}
				{form.error}
			{:else}
				&nbsp;
			{/if}
		</p>
	</form>
</div>

<style lang="scss">
	.content {
		flex: 1 1 auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10px;
		gap: 20px;
		min-height: calc(100vh - 60px);
	}

	h1 {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 20px;
		margin: 0;
		padding: 0;
	}

	form {
		width: 100vw;
		margin: 0;
		padding: 0;
	}

	.password-row {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		gap: 5px;
		padding: 0 20px;

		input {
			width: 100%;
			max-width: 400px;
			flex: 1 1 auto;
		}

		button {
			flex: 0 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	.error {
		color: #c43434;
	}
</style>
