<script lang="ts">
	import { page } from '$app/stores';
	$: currRoute = $page.route.id?.substring('/info/'.length) ?? '';
</script>

<div class="content">
	<nav class="tablist">
		<a href="/info" class="tab" class:current={currRoute == ''}>中文</a>
		<a href="/info/en" class="tab" class:current={currRoute == 'en'}>English</a>
	</nav>

	<slot />
</div>

<style lang="scss">
	.content {
		font-size: 18px;
		line-height: 1.5;

		:global(details) {
			margin: 1rem 0;

			:global(p:nth-child(2)) {
				margin-top: 4px;
			}
		}

		:global(img.screenshot) {
			max-width: min(800px, 100%);
		}

		:global(img.screenshot.smaller) {
			max-width: min(500px, 100%);
		}

		:global(img.screenshot.wide) {
			max-width: 100%;
		}

		:global(pre) {
			border: solid 1px var(--color-primary);
			padding: 5px 10px;
			white-space: pre-wrap;
			word-break: break-all;
		}
	}
</style>
