<script lang="ts">
	import Callout from '$components/Callout.svelte';

	import type { PageData } from './$types';
	export let data: PageData;
</script>

<p>
	嗨！这个指南将帮助您在您设备上设置maowtm VPN。
	这里包括了适用于多种平台的说明，请按照最相关的进行操作。如果您有任何问题，欢迎直接问我。
</p>

<Callout intent="warning">
	<svelte:fragment slot="heading">重要</svelte:fragment>
	此VPN不得在未经我同意的情况下与他人分享。
</Callout>

<h2>下载所需应用</h2>

<p>
	这个VPN使用的是一个叫做
	<a href="https://trojan-gfw.github.io/trojan/" target="_blank">Trojan</a>
	的协议。Trojan是一个新的混淆型代理协议，专门为逃避检测而设计。该协议有多个客户端可用于不同平台，请在下面选择最适合您的：
</p>

<details>
	<summary>安卓 (Android)</summary>

	<p>
		你需要能够下载一个叫做 v2rayNG 的应用。您可以从下面的链接中直接下载 APK 文件（如果能够访问
		GitHub 的话，建议从 GitHub 下载，否则也可直接从本站下载）：<br />
	</p>

	<ul>
		<li>
			直接从本站下载：
			<a href="/applications/v2rayNG_1.8.5.apk" target="_blank">v2rayNG_1.8.5.apk</a>；或者&hellip;
		</li>

		<li>
			官方 GitHub 链接：
			<a
				href="https://github.com/2dust/v2rayNG/releases/download/1.8.5/v2rayNG_1.8.5.apk"
				target="_blank"
			>
				v2rayNG_1.8.5.apk</a
			>

			(<a href="https://github.com/2dust/v2rayNG/releases/tag/1.8.5" target="_blank">发布页面</a>)
		</li>
	</ul>

	<p>
		如果您可以访问 Google Play 商店，您也可以从那里下载。这是最推荐的下载 App 的方式：<br />
		<a href="https://play.google.com/store/apps/details?id=com.v2ray.ang" target="_blank">
			<img
				alt="Get it on Google Play"
				src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"
				width="165"
				height="64"
			/>
		</a>
	</p>

	<p>
		在打开下载的文件时，您的设备可能会警告您该文件是危险的，或者要求您允许安装来自未知来源的应用。
		请临时允许这些：
	</p>

	<img
		class="screenshot"
		src="/screenshots/android/en/allow-source.jpeg"
		alt="Screenshot guide, showing the &quot;Allow from this source&quot; option"
	/>
</details>

<details>
	<summary> Windows </summary>

	<p>
		您需要下载 Trojan 代理客户端。您可以从下面的链接中直接下载 zip 文件（如果能够访问 GitHub
		的话，建议从 GitHub 下载，否则也可直接从本站下载）：
	</p>

	<ul>
		<li>
			直接从本站下载：
			<a href="/applications/trojan-1.16.0-win.zip" target="_blank">trojan-1.16.0-win.zip</a
			>；或者&hellip;
		</li>
		<li>
			官方 GitHub 链接：
			<a
				href="https://github.com/trojan-gfw/trojan/releases/download/v1.16.0/trojan-1.16.0-win.zip"
				target="_blank">trojan-1.16.0-win.zip</a
			>
			(<a href="https://github.com/trojan-gfw/trojan/releases/tag/v1.16.0" target="_blank"
				>发布页面</a
			>)
		</li>
	</ul>

	<p>该客户端无需专门安装 &ndash; 下载 zip 文件后，将其解压到一个合适的位置即可。</p>

	<Callout intent="info">
		<svelte:fragment slot="heading">
			<img
				src="https://em-content.zobj.net/source/twitter/376/thinking-face_1f914.png"
				width="20"
				height="20"
				alt="思考"
			/>
		</svelte:fragment>
		尽管该应用有一个引人注目的名字，但它并不是一个真正的木马或病毒。该协议被称为“Trojan” 只是因为它通过伪装成正常的
		http 流量来逃避检测。
	</Callout>
</details>

<h2>配置VPN连接</h2>

<p>下载了所需的应用之后，您需要进行一些简单的配置。请按照最相关的步骤进行操作：</p>

<details>
	<summary>安卓 (Android)</summary>

	<p>首先复制下面这串文字：</p>
	<pre>{data.v2rayTrojanUrl}</pre>

	<p>打开刚安装的应用，然后点击右上角的“+”按钮，选择“从剪贴板导入”：</p>

	<img
		class="screenshot smaller"
		src="/screenshots/android/zh/1.png"
		alt="显示刚刚提到的菜单的截图"
	/>

	<p>您应该会立即看到一个新的配置显示出来。点击下面的“V”按钮，然后允许连接请求即可连上VPN：</p>

	<img
		class="screenshot"
		src="/screenshots/android/zh/2.png"
		alt="两张截图，一张箭头指向屏幕底部的圆形按钮，另一张显示了 Android 的“连接请求”对话框。"
	/>

	<p>
		最后，请复制下面这串文字（或者其他不敏感的文字），以便将刚刚复制的配置从剪贴板中删除。这一步<b
			>非常重要</b
		>：
	</p>

	<pre>这里什么都没有 老大哥别看了</pre>

	<Callout intent="warning">
		<svelte:fragment slot="heading">重要</svelte:fragment>
		您必须完成上述步骤，确保 VPN 密钥不会泄露给其他应用。
	</Callout>
</details>

<details>
	<summary> Windows </summary>

	<p>Windows方法以后再写</p>

	<img class="screenshot" src="/screenshots/windows/en/1.png" alt="" />
	<img class="screenshot wide" src="/screenshots/windows/en/2.png" alt="" />
	<img class="screenshot" src="/screenshots/windows/en/3.png" alt="" />

	<p>
		<a target="_blank" href="/info/trojan-client/config.json">下载 config.json</a>
	</p>

	<img class="screenshot" src="/screenshots/windows/en/4.png" alt="" />
	<img class="screenshot" src="/screenshots/windows/en/5.png" alt="" />
	<img class="screenshot wide" src="/screenshots/windows/en/6.png" alt="" />
	<img class="screenshot wide" src="/screenshots/windows/en/7.png" alt="" />

	<p>PAC / 自动配置脚本:</p>
	<pre>https://ss.maowtm.org/windows/pac.js</pre>

	<img class="screenshot wide" src="/screenshots/windows/en/8.png" alt="" />
	<img class="screenshot wide" src="/screenshots/windows/en/9.png" alt="" />
</details>

<p>
	<!-- With the VPN connected, you can now try your hand on some popular blocked websites like&hellip; -->
	连接上VPN之后，您现在可以尝试访问一些被封锁的网站，比如&hellip;
</p>

<ul>
	<li>
		<a href="https://google.com" target="_blank" rel="noopener noreferrer nofollow">Google</a>
	</li>
	<li>
		<a href="https://en.wikipedia.org" target="_blank" rel="noopener noreferrer nofollow"
			>Wikipedia</a
		>
	</li>
	<li>
		<a href="https://chat.openai.com" target="_blank" rel="noopener noreferrer nofollow">ChatGPT</a>
	</li>
	<li>
		<a href="https://discord.com/" target="_blank" rel="noopener noreferrer nofollow">Discord</a>
	</li>
</ul>
