<script lang="ts">
	import Callout from '$components/Callout.svelte';

	import type { PageData } from './$types';
	export let data: PageData;
</script>

<p>
	Hi! This guide will help you set up the maowtm VPN on your device. It contains instructions which
	applies to a variety of platforms. Please follow the ones which are most relevant to you. Ask me
	if you have any questions.
</p>

<Callout intent="warning">
	You must not share this VPN with anyone else without explicit permission from me.
</Callout>

<h2>Download required application</h2>

<p>
	This VPN uses a protocol called
	<a href="https://trojan-gfw.github.io/trojan/" target="_blank">Trojan</a>. Trojan is a new,
	obfuscating proxy protocol aimed at evading detection. There are various software built for
	different platforms. Choose the one relevant to you below:
</p>

<details>
	<summary>Android</summary>

	<p>
		You need to somehow download the v2rayNG app. You can directly download the APK from any the
		links below (use GitHub if that works, otherwise download from this website):<br />
	</p>

	<ul>
		<li>
			Download directly from this website:
			<a href="/applications/v2rayNG_1.8.5.apk" target="_blank">v2rayNG_1.8.5.apk</a>; or&hellip;
		</li>

		<li>
			Official GitHub release link:
			<a
				href="https://github.com/2dust/v2rayNG/releases/download/1.8.5/v2rayNG_1.8.5.apk"
				target="_blank"
			>
				v2rayNG_1.8.5.apk</a
			>

			(<a href="https://github.com/2dust/v2rayNG/releases/tag/1.8.5" target="_blank"
				>releases page</a
			>)
		</li>
	</ul>

	<p>
		If you have access to the Google Play store, you can also download it from there, which is the
		recommended way to download apps:
		<a href="https://play.google.com/store/apps/details?id=com.v2ray.ang" target="_blank">
			<img
				alt="Get it on Google Play"
				src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"
				width="165"
				height="64"
			/>
		</a>
	</p>

	<p>
		While opening the downloaded package, your device may warn you that the file is dangerous, or
		asks that you allow installing from unknown sources. Please temporarily allow this while you
		install v2rayNG:
	</p>
	<img
		class="screenshot"
		src="/screenshots/android/en/allow-source.jpeg"
		alt="Screenshot guide, showing the &quot;Allow from this source&quot; option"
	/>
</details>

<details>
	<summary> Windows </summary>

	<p>
		You will need to download the Trojan proxy client. You can directly download from any of the
		links below (use GitHub if that works, otherwise download from this website):
	</p>

	<ul>
		<li>
			Download directly from this website:
			<a href="/applications/trojan-1.16.0-win.zip" target="_blank">trojan-1.16.0-win.zip</a>;
			or&hellip;
		</li>
		<li>
			Official GitHub release link:
			<a
				href="https://github.com/trojan-gfw/trojan/releases/download/v1.16.0/trojan-1.16.0-win.zip"
				target="_blank">trojan-1.16.0-win.zip</a
			>
			(<a href="https://github.com/trojan-gfw/trojan/releases/tag/v1.16.0" target="_blank"
				>release page</a
			>)
		</li>
	</ul>

	<p>
		There is no installation required &ndash; after downloading the zip, extract it to some
		convinent location.
	</p>

	<Callout intent="info">
		Even though the app has a conspicuous name, it is not an actual trojan or virus. The protocol is
		called &ldquo;trojan&rdquo; simply because it evades detection by pretending to be normal http
		traffic.
	</Callout>
</details>

<h2>Configure VPN connection</h2>

<p>
	Once you have the required app, you need to do some simple set up. Follow the steps relevant to
	you:
</p>

<details>
	<summary> Android </summary>

	<p>First, copy the following string:</p>
	<pre>{data.v2rayTrojanUrl}</pre>

	<p>
		Go to the app, then add configuration by tapping the &ldquo;+&rdquo; button on the top right
		corner, and select &ldquo;Import config from Clipboard&rdquo;:
	</p>

	<img
		class="screenshot smaller"
		src="/screenshots/android/en/1.png"
		alt="Screenshot showing the instruction above"
	/>

	<p>
		You should immediately see a new configuration show up. Test it out by clicking the
		&ldquo;V&rdquo; button below, and allowing the connection request:
	</p>

	<img
		class="screenshot"
		src="/screenshots/android/en/2.png"
		alt="Two screenshot, one with an arrow pointing towards the circle button at the bottom of the screen, the other shows the Android &quot;Connection request&quot; dialog."
	/>

	<p>
		Finally, and this is <b>very important</b>, copy the following text (or anything else not
		sensitive) so that the previously copied config is removed from your clipboard:
	</p>

	<pre>Nothing to see here, big brother.</pre>

	<Callout intent="warning">
		You must do the above step to ensure the VPN secret key does not get leaked to other apps.
	</Callout>
</details>

<details>
	<summary> Windows </summary>

	<p>
		TODO: Will write instructions later
	</p>

	<img class="screenshot" src="/screenshots/windows/en/1.png" alt="" />
	<img class="screenshot wide" src="/screenshots/windows/en/2.png" alt="" />
	<img class="screenshot" src="/screenshots/windows/en/3.png" alt="" />

	<p>
		<a target="_blank" href="/info/trojan-client/config.json">Download config.json</a>
	</p>

	<img class="screenshot" src="/screenshots/windows/en/4.png" alt="" />
	<img class="screenshot" src="/screenshots/windows/en/5.png" alt="" />
	<img class="screenshot wide" src="/screenshots/windows/en/6.png" alt="" />
	<img class="screenshot wide" src="/screenshots/windows/en/7.png" alt="" />

	<p>PAC / auto config script URL:</p>
	<pre>https://ss.maowtm.org/windows/pac.js</pre>

	<img class="screenshot wide" src="/screenshots/windows/en/8.png" alt="" />
	<img class="screenshot wide" src="/screenshots/windows/en/9.png" alt="" />
</details>

<p>
	With the VPN connected, you can now try your hand on some popular blocked websites like&hellip;
</p>

<ul>
	<li>
		<a href="https://google.com" target="_blank" rel="noopener noreferrer nofollow">Google</a>
	</li>
	<li>
		<a href="https://en.wikipedia.org" target="_blank" rel="noopener noreferrer nofollow"
			>Wikipedia</a
		>
	</li>
	<li>
		<a href="https://chat.openai.com" target="_blank" rel="noopener noreferrer nofollow">ChatGPT</a>
	</li>
	<li>
		<a href="https://discord.com/" target="_blank" rel="noopener noreferrer nofollow">Discord</a>
	</li>
</ul>
