<script lang="ts">
	export let intent: 'info' | 'warning' = 'info';
</script>

<div class={'callout ' + intent}>
	<b class="heading">
		<slot name="heading">
			{#if intent == 'info'}
				Note
			{:else if intent == 'warning'}
				Important
			{/if}
		</slot>
	</b>
	<br />
	<slot />
</div>
